<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">今日のお題</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">今週のベストマナー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">殿堂入り作品</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item nav-button">
      <button type="button" class="btn btn-info">ログイン</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-success">登録</button>
    </li>
  </ul>

</nav>

<div class="container">
  <div class="row">
    <div class="header mx-auto">
      <h1><img src="<%= asset_pack_path 'img/header.png' %>" alt="マナー2.0"></h1>
    </div>
  </div>
  <div class="card">
    <div class="row header-bottom-nav">
      <div class="card-link"><a class="" href="#">マナーを投稿する</a></div>
      <div class="card-link"><a class="" href="#">ランキング</a></div>
      <div class="card-link"><a class="" href="#">何かしら</a></div>
      <div class="card-link"><a class="" href="#">注意事項</a></div>
      <div class="card-link"><a class="" href="#">マナー心得</a></div>
      <div class="card-link"><a class="" href="#">問い合わせ</a></div>
    </div>
  </div>
</div>
