<div class="container">
  <%= render(partial: 'shared/component/heading')%>
  <div class="row content-area">
    <div class="main-container col-md-8">
      <%= render(partial: 'shared/container/top_main', locals: {manners: @manners}) %>
    </div>
    <div class="side-container col-md-4">
      <%= render partial: "shared/right_side_container" %>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<%= javascript_pack_tag 'like' if user_signed_in? %>
