.category-list {
  width: 100%;
  font-size: 2rem;

  a.category-index-list-link {
    color: #5b5b5b;
    .badge-primary {
      background-color: #AAD6EC;
    }
  }

}

.category-show-container {

}

.subject-container{
  .answer-container{
    .answer-text {
      background-color: #fff;
      padding: 24px;
      font-size: 1.5rem;
    }
  }
}
