.subject-card {
  .sns-buttons {
    text-align: left;
    margin-bottom: -13px;
    font-family: "FontAwesome";
    color: #AAD6EC;
  }

  i {
    text-decoration: none;
    font-style: normal;
  }
}

.subject-container {
  padding: 10px;
  margin-bottom: 50px;

  .subject-card {
    padding: 40px 20px 0;
    border: 8px solid #AAD6EC;
    box-shadow: 2px 2px 6px;
    margin-bottom: 20px;

    .subject-text {
      font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      font-size: 30px;
    }

    .subject-posted-by {
      color: #797979;
    }
  }

  .subject-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -10px;

    .subject-bottom-link-col {
      width: 49%;
      margin-top: 10px;
      height: 50px;
      background-color: #AAD6EC;
      color: #fff;
      border-radius: 10px;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 100%;
        width: 100%;
      }
    }
  }
}
