.subject-card {
  .sns-buttons {
    text-align: left;
    margin-bottom: -13px;
    font-family: "FontAwesome";
    color: #AAD6EC;
  }

  i {
    text-decoration: none;
    font-style: normal;
  }
}

.subject-container,
.subject-show-container {
  padding: 10px;
  margin-bottom: 50px;

  .subject-card {
    padding: 40px 20px 0;
    border: 8px solid #AAD6EC;
    box-shadow: 2px 2px 6px;
    margin-bottom: 20px;

    .subject-text {
      font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      font-size: 30px;
    }

    .subject-posted-by {
      a {
        color: #797979;
      }
      color: #797979;
    }
  }

  .subject-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -10px;

    .subject-bottom-link-col {
      width: 49%;
      margin-top: 10px;
      height: 50px;
      background-color: #AAD6EC;
      color: #fff;
      border-radius: 10px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.post-something-container {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.index-subject-pager {
  width: 100%;
}

nav.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  > span {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;

    a {
      width: 100%;
      height: 100%;
      color: black;
    }
  }
}

.subject-show-container {
  .answer-container {
    box-shadow: 2px 2px 4px gray;
    margin: 10px 10px 30px;
  }

  .answer-text {
    background-color: #fff;
    padding: 24px;
    font-size: 1.5rem;
  }

  .answer-posted-by {
    a {
      color: #797979;
    }
    color: #797979;
  }

  .answer-bottom {
    background-color: #5B5B5B;
    display: flex;
    flex-direction: row;
    padding: 0 10px;

    .sns-buttons {
      font-family: "FontAwesome";
      color: #fff;
    }

    i {
      text-decoration: none;
      font-style: normal;
    }

    .like-button {
      font-family: "FontAwesome";
      color: #fff;

      .not-liked {
        color: #fff;
      }

      .liked {
        color: #FC9D9D;
      }
    }
  }
}
