body {
  margin-bottom: 100px;
}


.header-bottom-nav {
  background-color: #343a40;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 1em;
  .card-link {
    flex-grow: 1;
  }

  .card-link:hover {
    background-color: #dddddd;
  }

  .card-link > a {
    color: white;
    padding: 10px 0;
    display: block;
    text-align: center;
  }

}

.main-container {}

.side-container {
  .card {
    padding: 10px;
    margin-bottom: 20px;
  }

  .read-more-user-ranking {
    color: #5B5B5B;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }

  .read-more-user-ranking:hover {
    background-color: #EEF9FF;
  }
}

.content-area {
  margin-top: 20px;
}

p {
  margin-bottom: 0;
}

.subject-container {
  padding: 10px;
  margin-bottom: 50px;
  .subject-card {
    padding: 40px 20px;
    border: 8px solid #AAD6EC;
    box-shadow: 2px 2px 6px;
    margin-bottom: 20px;

    .subject-text {
      font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      font-size: 30px;
    }

    .subject-posted-by {
      color: #797979;
    }
  }
  .read-more-manners {
    color: #5B5B5B;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }

  .read-more-manners:hover {
    background-color: #EEF9FF;
  }
}

.answer-container {
  box-shadow: 2px 2px 4px gray;
  margin: 10px 10px 30px;
}

.answer-text {
  background-color: #fff;
  padding: 24px;
}

.answer-bottom {
  background-color: #5B5B5B;
  display: flex;
  flex-direction: row;
  padding: 0 10px;

  .sns-buttons {
    font-family: "FontAwesome";
    color: #fff;
  }

  i {
    text-decoration: none;
    font-style: normal;
  }

  .like-button {
    font-family: "FontAwesome";
    color: #fff;

    .not-liked {
      color: #fff;
    }

    .liked {
      color: #FC9D9D;
    }
  }
}
