<p class="card-title">人気のテーマ</p>
<ul class="list-group">
  <li class="list-group-item">
    就活のマナー
  </li>
  <li class="list-group-item">
    合コンのマナー
  </li>
  <li class="list-group-item">
    新幹線でのマナー
  </li>
  <li class="list-group-item">
    ネットカフェでのマナー
  </li>
</ul>
