<p class="card-title">人気のテーマ</p>
<ul class="list-group">
  <% SubjectRanking.top5.each do |subjectrank| %>
    <li class="list-group-item">
      <%= link_to(subjectrank.subject.title, subjectrank.subject, class: 'subject-rank-link') %>
    </li>
  <% end %>
</ul>
