<div class="header-container  container-fluid">
  <div class="header-background-container mx-auto">
    <%= link_to(root_path) do %>
      <h1 class="title-text">まなー2.0（β版）</h1>
    <% end %>
    <div class="header-img-rail"></div>
    <div class="header-img-ruby"></div>
  </div>

</div>
