<div class="side-content card">
  <%= render partial: "shared/weekly_user_ranking" %>
</div>
<div class="side-content card">
  <%= render partial: "shared/favorite_subject" %>
</div>
<div class="side-content card">
  <p class="card-title">広告</p>
</div>
