<div class="subject-card">
  <p class="subject-text"><%= subject.title %>を教えてください。</p>
  <p class="subject-posted-by text-right"><%= link_to '(お題提供: ' + subject.user.name + ')', subject.user, class: 'subject-user-link' %></p>
  <div class="sns-buttons ml-0 mr-auto">
    <a href=<%= URI.encode("http://twitter.com/share?url=#{ subject_url(subject) }&text=#{ subject.title }\n&hashtags=manner20,マナー大喜利") %> target="_blank" class="sns-post-link color-blue">
      <i class="fab fa-twitter fa-fw fa-2x"></i>
    </a>
    <a href=<%= "http://www.facebook.com/share.php?u=#{ subject_url(subject) }" %> target="_blank" class="sns-post-link color-blue" >
      <i class="fab fa-facebook-square fa-fw fa-2x"></i>
    </a>
  </div>
</div>
