<p class="user-ranking card-title">週間ユーザランキング</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>ユーザ名</th>
    </tr>
  </thead>
  <tbody>
    <% UserRanking.top5.each_with_index do |userrank, i| %>
      <tr>
        <th><%= i+1 %></th>
        <td>
          <%= link_to(userrank.user.name, userrank.user, class: 'user-ranking-link') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- <a href="#" class="btn read-more-user-ranking"> もっと見る </a> -->
