<div class="header-bottom-nav">
  <div class="card-link">
    <a class="" href="#">マナーを投稿する</a>
  </div>
  <div class="card-link">
    <a class="" href="#">お題を投稿する</a>
  </div>
  <div class="card-link">
    <a class="" href="#">ランキング</a>
  </div>
  <div class="card-link">
    <a class="" href="#">注意事項</a>
  </div>
  <div class="card-link">
    <a class="" href="#">マナー心得</a>
  </div>
  <div class="card-link">
    <a class="" href="#">問い合わせ</a>
  </div>
</div>
